.my-icons-size {
    font-size: 25px;
}

.pagination {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 10px;
    box-sizing:border-box;
    text-align: center;
}

.pagination li {
    display: inline;
    text-align: center;
}

.pagination a {
    float: left;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px;
    color:#fff;
    border:1px solid transparent;
    margin-left: 3px;
    width: 3em;
    height: 3em;
    line-height: 30px;
    border-radius: 50%;
    &:hover{
        background-color: #404040;
        color: white;
    }
    &.active, &:active{
        background-color: #404040;
        color: white;
    }
    &.active{  cursor: default;}
    &:active{ outline: none;}
}

.today-count-div {
    border: 1px solid white;
    margin-top: 2em;
    border-radius: 0.5rem;
}

.layerPopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.cursor-pointer {
    cursor: pointer;
}

.main-body {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #252525;
    max-width: 100em;
    margin: auto !important;
}

.logo-bank {
    height: 40px;
}

.main-navbar-div {
    font-size: 25px;
}

.main-navbar-user {
    float: right;
}

.margin-top-1 {
    margin-top: 1rem;
}

.main-sidebar-intro {
    color: white
}

.main-sidebar-card {
    color: white;
    border: none !important;
    cursor : pointer;
}

.color-white {
    color: white;
}

.font-15 {
    font-size: 15px;
}

.main-sidebar-visit {
    text-align: center;
    border-radius: 0.5rem;
    margin-top: 1em;
}

.font-25 {
    font-size: 25px;
}

.font-19 {
    font-size: 19px;
}

.main-container {
    margin-top: -2.5em;
    padding-right: 0;
    padding-left: 0;
}

.border-white {
    border: solid 1px white;
}

.margin-bottom-2 {
    margin-bottom: 2rem;
}

.overflow-hidden {
    overflow: hidden;
}

.list-content-thumbnail {
    object-fit: cover;
}

.background-353535 {
    background-color: #353535 !important;
}

.background-252525 {
    background-color: #252525 !important;
}

.list-content-subject {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content-subject-no-thumb {
    text-align: center;
    position: absolute;
    color: white;
    transform: translate(-50%, -50%);
    top: 37%;
    left: 50%;
    font-size: 2em
}

.text-center {
    text-align: center;
}

.max-width-96 {
    max-width: 96%;
}

.height-5 {
    height: 5rem;
}

.max-width-30 {
    max-width: 30rem;
}

.text-deco-none {
    text-decoration: none !important;
    text-decoration-color: white !important;
}

a:hover {
    color: white;
}

.overflow-auto {
    overflow: auto;
}

.font-oblique {
    font-style: oblique;
}
.font-35 {
    font-size: 35px;
}
.margin-top-half-1 {
    margin-top: 0.5rem;
}
.viewer-padding {
    padding-left: 1rem;
    padding-right: 1rem;
}
.minus-margin-10 {
    margin-right: -5px !important;
    margin-left: -5px !important;
}