.toastui-editor-contents p {
    color: white !important;
    font-size: 15px !important;
}

.toastui-editor-contents h1 {
    color: white !important;
    font-size: 30px !important;
}

.toastui-editor-contents h2 {
    color: white !important;
    font-size: 25px !important;
}

.toastui-editor-contents h3,
.toastui-editor-contents h4,
.toastui-editor-contents h5,
.toastui-editor-contents h6 {
    color: white !important;
    font-size: 20px !important;
}


.toastui-editor-defaultUI .ProseMirror {
    color: white !important;
}

.toastui-editor-md-code-block-line-background {
    background-color: #353535 !important;
}

.toastui-editor-contents pre {
    background-color: #353535 !important;
    color: white !important;
}

.toastui-editor-contents pre code {
    font-size: 15px !important;
}

.language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url {
    background: #353535 !important;
}