.toastui-editor-contents p {
  font-family: 'Nanum Gothic', sans-serif;
  color: #EEEEEE !important;
  font-size: 14px !important;
}

.toastui-editor-contents h1 {
  font-family: 'Nanum Gothic', sans-serif;
  color: #D46876 !important;
  font-size: 25px !important;
  font-weight: bold;
  line-height: 30px !important;
}

.toastui-editor-contents h2 {
  font-family: 'Nanum Gothic', sans-serif;
  color: #D08770 !important;
  font-size: 20px !important;
  font-weight: bold;
  line-height: 30px !important;
}

.toastui-editor-contents h3 {
  font-family: 'Nanum Gothic', sans-serif;
  color: #D5A985 !important;
  font-size: 18px !important;
  font-weight: bold;
  line-height: 30px !important;
}

.toastui-editor-contents h4 {
  font-family: 'Nanum Gothic', sans-serif;
  color: #A3BE8C !important;
  font-size: 16px !important;
  font-weight: bold;
  line-height: 30px !important;
}

.toastui-editor-contents h5 {
  font-family: 'Nanum Gothic', sans-serif;
  color: #8DA8B9 !important;
  font-size: 15px !important;
  font-weight: bold;
  line-height: 30px !important;
}

.toastui-editor-contents h6 {
  font-family: 'Nanum Gothic', sans-serif;
  color: #B48EAD !important;
  font-size: 15px !important;
  font-weight: bold;
  line-height: 30px !important;
}

.toastui-editor-defaultUI .ProseMirror {
  font-family: 'Nanum Gothic', sans-serif;
  color: #EEEEEE !important;
}

.toastui-editor-md-code-block-line-background {
  font-family: 'Nanum Gothic', sans-serif;
  background-color: #303030 !important;
}

.toastui-editor-contents pre {
  font-family: 'Nanum Gothic Coding', sans-serif;
  background-color: #303030 !important;
  color: #EEEEEE !important;
  margin-top: 1em;
  border-radius: 0.5rem;
!important;
}

.toastui-editor-contents pre code {
  font-family: 'Nanum Gothic Coding', sans-serif;
  font-size: 14px !important;
}

.language-css .token.string, .style .token.string, .token.entity, .token.url {
  font-family: 'Nanum Gothic Coding', sans-serif;
  background: #303030 !important;
}

.token.operator {
  font-family: 'Nanum Gothic Coding', sans-serif;
  color: #EEEEEE !important;
  background-color: #303030 !important;
}

.token.number {
  font-family: 'Nanum Gothic Coding', sans-serif;
  color: coral !important;
}

.toastui-editor-contents table td, .toastui-editor-contents table th {
  font-family: 'Nanum Gothic', sans-serif;
  border: 1px solid white !important;
  color: #EEEEEE !important;
}

.toastui-editor-contents code {
  font-family: 'Nanum Gothic Coding', sans-serif;
  background-color: teal;
  color: #EEEEEE;
  font-size: 14px;
}

.toastui-editor-contents img {
  border-radius: 0.5rem !important;
}

.toastui-editor-contents :not(table) {
  line-height: 180% !important;
}

.toastui-editor-contents ul > li:before {
  background-color: #EEEEEE !important;
  margin-top: 9px !important;
  height: 5px !important;
  width: 5px !important;
}